<% provide(:title, "Confirmation") %>


<div class="container">
    <div class="row">      
          <hr>        
    </div>
    <div class="row">      
          <p> You are all set. You've linked the following accounts to AgrePlus!</p>        
    </div>
    <div class="row justify-content-center">      
          <hr>        
    </div>
    
     <button type="submit" class="btn btn-primary">Back to AgrePlus</button>
</div>