<% provide(:title, "Verify you identity") %>

<div class="container">
    <div class="row justify-content-center">      
          <hr>        
    </div>
    <div class="row justify-content-center">      
          <h1> Verify your identity </h1>        
    </div>
    <div class="row justify-content-center">      
          <hr>        
    </div>
     <div class="row">      
          <p>Schwab will send you an access code to one of your preferred methods.</p>
          <hr>
    </div>
    
        <div class="row">
              <h6>Please select a delivery method</h6>
              </div>

<div class="row ">
  <form></form>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Text me (xxx-xxx-8390)
  </label>
</div>
</div>

<div class="row ">
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Email me (rav....bram@gmail.com)
  </label>
</div>
</div>

<div class="row ">
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
  <label class="form-check-label" for="exampleRadios3">
    Call me (xxx-xxx-8390)
  </label>
</div>
</div>

 <div class="row justify-content-center">      
          <hr>        
  </div>
  <button type="submit" class="btn btn-primary">Continue</button>
</form>
</div>