<nav class="navbar navbar-light" style="background-color: #d8d8d8;">
      <a class="navbar-brand" href="#">
            <%= link_to image_tag("schwab_logo.png", alt: "Schwab"),
             root_path, id: "logo" %> 
      </a>
</nav>